//  SITE--HEADER  //
.site-header
 {
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 4;
 }
.site-header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 
.header-nav {
    transition: color 0.3s ease, 
}
.header-nav__list {
    @include reset-list;
    display: flex;
}
.header-nav__item {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.header-nav__item-link {
    @include reset-link;
    text-align: center;
    color: $color-text;
    transition: all 0.1s ease;
}

.header-nav__item-link:hover {
    color: #2D314D;
}
.header-nav__item-link:hover+.header-nav__item-line {
    background-color: #5EB5E6;
  transform: scale(1);
}
.header-nav__item-line {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    height: 2px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: red;
    transition: transform 0.5s ease-in;
    transform: scale(0);
}
.site-header__button {
    margin-top: 18px;
    margin-bottom: 18px;
    @include site-button;
}
.site-header__button:hover {
    @include site-button-hover;
}